/* CSS */
 .container {
 max-width:1070px;
 }
 #navigation-tree .nav > li > a {
position: relative;
display: block;
padding: 5px;
font-size:12px;
}
#navigation-tree .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
color: #fff;
background-color: #E67817;
}

 .right-column,.left-column,.above-content,.below-content,.before-bodyend {
 font-size:13px;
 }
 .right-column a,.left-column a,.above-content a,.below-content a,.before-bodyend a{
 color: #2b6dad;
 }

 .nounderline a:hover, .nounderline a{
    text-decoration:none
 }
 .footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #767f7b;
  color:#fff;
}
 .lead {
 font-weight: bold;
font-size: 15px;
line-height: 1.4;
 }
 .quote-head{
 padding:1px;
color:#eb880e;
 margin-bottom:2px;
 }
.happenings{
 padding:1px;
color:#eb880e;
 }
 .header {
 font-size: 23px;
color:#eb880e;
letter-spacing: -0.5px;
font-weight: bold;
line-height: 1.25;
 }
 .date {
 border-bottom:2px solid #ddd;
  }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #eb880e;
}
.navbar-inverse {
  font-size:12px;
  font-weight:bold;
  background-color:#5cbc2e;
}
.navbar-inverse .navbar-brand {
  color: #f4f4f4;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
   color: #ddd;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #333;
  font-weight:bold;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #FFF;
  border-top:3px solid #E67817;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #333;
  border-top:3px solid #E67817;
  background-color:#ddd;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #fff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #E67817;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #9FAB23;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #9FAB23;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #004600;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #004600;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #004600;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #357ebd;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #fff;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
ul{
list-style:none;
}
#breadcrumbs{
  margin-top:-10px;
  overflow: hidden;
  width: 100%;
}

#breadcrumbs li{
  float: left;
  margin: 0 .5em 0 1em;
}

#breadcrumbs a{
  background: #ddd;
  padding: .7em .7em;
  font-size:9px;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  position: relative;
}

#breadcrumbs a:hover{
  background: #99db76;
}

#breadcrumbs a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs a:hover::before{
  border-color: #99db76 #99db76 #99db76 transparent;
}

#breadcrumbs a::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

#breadcrumbs a:hover::after{
  border-left-color: #99db76;
}

#breadcrumbs .active,
#breadcrumbs .active:hover{
  font-size:10px;
  margin-top:7px;
  font-weight: bold;
  color:#fff;
  background: #E67817;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#breadcrumbs .active::after,
#breadcrumbs .active::before{
  content: normal;
}
#carousel-home .carousel-inner {
        margin-top:-45px;
		width:100%;
		max-height:420px;

}
#carousel-home .carousel-inner img {
width: 100%;
}
.carousel-control.left {
  right:auto;
  left:0;
  background-image: none;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-circle-arrow-left,
.carousel-control .glyphicon-circle-arrow-right{
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-circle-arrow-left{
  left: 50%;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-circle-arrow-right{
  right: 50%;
}
.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}
/* START fix deform_bootstrap styles ====================
   bootstrap has its own ideas about .error, but in deform forms, especially
   those with sequences, bootstrap basically just paints everything red.
   So let's remove bootstrap interference from colors of fields with errors: */
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #555;
  border-color: #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  color: #555;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #333;
}

/* Now that we have neutralized bootstrap, we use more sensible selectors: */

.control-group.error > .control-label,
.control-group.error > .controls > .help-inline,
.control-group.error > .controls > .help-block,
legend.error {
  color: #B94A48;
}
legend.error {
  border-bottom: 1px solid #B94A48;
}
.control-group.error > .controls > input,
.control-group.error > .controls > select,
.control-group.error > .controls > textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error > .controls > input:focus,
.control-group.error > .controls > select:focus,
.control-group.error > .controls > textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

/* END fix deform_bootstrap styles ==================== */

/* Let me specify the damn *size* attribute. Please, bootstrap? */
input, textarea, select {
  width: auto;
}

.form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block, .form-horizontal .uneditable-input + .help-block, .form-horizontal .input-prepend + .help-block, .form-horizontal .input-append + .help-block{
  margin-top: 3px; /* keep help text close to the input above it */
}

span.error { font-weight: bold; }
.alert-error{
border:2px solid #b94a48;
color:#b94a48;
border-radius:4px;
}